body{
    color:white;
    text-align: center;
    background-color: #313335;
}
.navbar{
    position: fixed-top;
}
table{
    border: 2;
border-color: white;
border-collapse: collapse;
}
th{
    font-size: 1.2rem;
}
td{
    width: 8rem;
    border:2 white;
    border-collapse: collapse;
}
li {
    float: left;
    width:20%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#1b1e23;
    overflow: auto;
    text-decoration-style: bold;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #203354;
}